.btn-design{
    margin-left: 200px;
    margin-right: 100px;
}
.colr{
    color: white;
    background-color: #090b54;
}
.desi{
    font-size: 35px;
    font-style: initial;
    font-weight: 900;
    margin-left: 100px;
}
.btn{
    color: palegoldenrod;
    background-color: #dc3545;
    margin-left: 200px;
    margin-right: 100px;
}